.About-Us-Container{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    transition: background-color 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-left: 6rem; 
    transition: margin-left 0.6s; 
  }
  .navbar-hovered {
    margin-left: 10rem; 
  }
@media (max-width: 600px){
    .About-Us-Container{overflow-x: hidden;}
}
@media (max-width: 600px){
    .About-Us-Container {
      margin: 0;
    }
    
    .navbar-hovered {
      margin-left: 0;
    }
    .About-Us-Container.mobile-navbar-open{
      margin-left: 100vw;
    }
    .About-Us-Container.navbar-hovered{
      margin: 0;
    }
}

.page-header {
    font-family: var(--font-main);
    font-size: 5rem;
    color: transparent;
    text-align: center;
    background: linear-gradient(to right, var(--foreground-color), var(--link-color));
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    margin-top: 0;
}
@media (max-width: 600px){
    .page-header{font-size: 3rem; margin-top: 5vh;}
}
#page-subheader {
    font-family: var(--font-main);
    font-size: var(--font-size-subcontent);
    color: var(--primary-text-color);
    text-align: center;
}
@media (max-width: 600px){
    #page-subheader{font-size: 2rem}
}
.list-container {
    font-family: var(--font-main);
    font-size: var(--font-size-subcontent);
    color: var(--primary-text-color);
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px){
    .list-container{
        flex-direction: column;
    }
}
.Mission-statement{
    font-size: var(--font-size-subheader);
    font-family: var(--font-main);
    color: var(--primary-text-color);
    text-align: center;
}
@media (max-width: 600px){
    .list-container{font-size: 1rem}
}
.list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
@media (max-width: 600px){
    .list{flex-direction: column;}
}
.item {
    list-style-type: none;
    font-size: 3.5rem;
    transition: all 0.6s ease-in-out;
    position: relative;
    text-decoration: none;
    color: var(--primary-text-color);
}
.item:hover{
    transform: translateY(1.5rem) scale(1.2);
    color: var(--tertiary-text-color);
}
@media (max-width: 600px){
    .item{font-size: 1rem;}
}
.space {
    height: 5vh;
    margin-bottom: 0;
}
.About-Us-Container.default {
    cursor: default;
}
.About-Us-Container.custom {
    cursor: url('../assets/Cat.png') 16 16, pointer; 
}
#secretbutton{
    cursor: pointer;
    border: unset;
    box-shadow: none;
    font-weight: bold;
    font-size: 5rem;
    font-family: var(--font-main);
    color: transparent;
    background: linear-gradient(to right, var(--foreground-color), var(--link-color));
    background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
}
.mobile-replace-button{
    display: none;
}
@media (max-width: 600px){
    #secretbutton{display: none;}
    .mobile-replace-button{display: inline-block; font-size: 3rem;}
}
#Department-Button{
    border-radius: 0.75rem;
    border: 0.3rem solid var(--prg-fg-color);
    font-size: var(--prg-font-size-subcontent);
    text-wrap: wrap;
    scale: 2.25;
    transition: all 0.6s ease-in-out;
}
@media (max-width: 600px){
    #Department-Button{scale: 1.5}
}
#Department-Button:hover{
    scale: 3;
    transform: translateY(-0.25rem);
    transition: all 0.6s ease-in-out;
}
@media (max-width: 600px){
    #Department-Button:hover{scale: 2}
}