.Calendar-container {
    background-color: var(--background-color);
    transition: background-color var(--transition-time-background) ease-in-out;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 0;
    margin-left: 6rem; 
    transition: margin-left 0.6s; 
  }
.navbar-hovered {
    margin-left: 10rem; 
  }
#Calendar{
    margin-bottom: 3rem;
}