.Dept-Container {
    height: 100%;
    padding: 0;
    min-height: 100vh;
    margin-left: 6rem; 
    transition: margin-left 0.6s; 
    margin-top: 0;
    background-color: var(--background-color);
}

.navbar-hovered {
    margin-left: 10rem; 
}

.title {
    font-size: var(--font-size-title);
    font-family: var(--font-main);
    color: var(--primary-text-color);
    padding-top: 1rem;
    position: relative;
    width: max-content;
    margin-top: 0;
}

@media (max-width: 600px) {
    .title {
        font-size: 3rem;
    }
    .title:first-child {
        margin-top: 3vh;
    }
}

.title:nth-child(2) {
    font-size: var(--font-size-title);
    font-family: var(--font-main);
    color: var(--primary-text-color);
    margin-top: 2em;
}

.title::after {
    content: '';
    background: linear-gradient(to right, crimson, violet);
    border-radius: 50px;
    height: 10px;
    width: 100%;
    position: absolute;
    bottom: -0.75rem;
    left: 0;
    transition: all 0.6s ease;
}

.content {
    text-align: left;
    color: var(--primary-text-color);
    font-size: var(--font-size-content);
}

@media (max-width: 600px) {
    .content {
        font-size: 2rem;
    }
}

.content:last-child {
    margin-bottom: 0;
}

.subheader-prg {
    color: var(--primary-text-color);
    font-size: var(--font-size-subheader);
    font-family: var(--font-main);
    text-align: left;
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .subheader-prg {
        font-size: 2rem;
    }
}

.Programming-link {
    font-size: var(--font-size-subcontent);
    font-family: var(--font-main);
    color: var(--link-color);
    margin-bottom: 3em;
}

@media (max-width: 600px) {
    .Programming-link {
        font-size: 2rem;
    }
}

.img-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start; 
    gap: 30rem;
    flex-wrap: wrap; 
}

@media (max-width: 600px) {
    .img-container {
        display: none;
    }
}

.prg-img {
    height: 128px;
    width: 128px;
    animation: shiftupdown 10s linear 0s infinite;
    position: relative; 
}

@keyframes shiftupdown {
    0% { transform: translateY(-1rem); }
    50% { transform: translateY(1rem); }
    100% { transform: translateY(-1rem); }
}

.sub-img-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start; 
    gap: 30rem;
    flex-wrap: wrap;
}

.sub-text {
    font-size: var(--font-size-subcontent);
    font-family: var(--font-main);
    text-wrap: wrap;
    width: 128px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    position: relative;
}

@media (max-width: 600px) {
    .sub-text {
        display: none;
    }
}

#Github-img-text::after, #Github-img-text::before {
    width: 135px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: '';
    background-image: conic-gradient(red, blue);
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
}

#Github-img-text::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

#Java-img-text::after, #Java-img-text::before {
    width: 132px;
    height: 135px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: '';
    background-image: conic-gradient(red, blue);
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
}

#Java-img-text::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

#React-img-text::after, #React-img-text::before {
    width: 132px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    content: '';
    background-image: conic-gradient(red, blue);
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
}

#React-img-text::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

#Container {
    position: relative;
    min-height: 100vh;
    background-color: var(--background-color);
    transition: background-color 250ms ease-in-out;
    background-repeat: repeat-y;
    background-size: cover;
    margin: 0;
    padding: 0;
    z-index: 0;
}
