:root {
    --pc-bg-color: antiquewhite; 
    --pc-fg-color: #ff7043; 
    --pc-primary-text-color: #4e342e; 
    --pc-secondary-text-color: #f57c00; 
    --pc-teriary-text-color: #6d4c41; 
    --pc-link-color: #d84315; 
    --pc-dark-bg-color: #4e342e; 
    --pc-dark-fg-color: #6d4c41; 
    --pc-dark-primary-text-color: #ffffff; 
    --pc-dark-secondary-text-color: #ff5722; 
    --pc-dark-teriary-text-color: #d7ccc8; 
    --pc-dark-link-color: #ffab91; 
}

[data-theme="dark"] {
    --pc-bg-color: var(--pc-dark-bg-color);
    --pc-fg-color: var(--pc-dark-fg-color);
    --pc-primary-text-color: var(--pc-dark-primary-text-color);
    --pc-secondary-text-color: var(--pc-dark-secondary-text-color);
    --pc-teriary-text-color: var(--pc-dark-teriary-text-color);
    --pc-link-color: var(--pc-dark-link-color);
}
[data-secret="toggled"]{
    --pc-bg-color: #fce4ec; 
    --pc-fg-color: #f8bbd0; 
    --pc-primary-text-color: #880e4f; 
    --pc-secondary-text-color: #f48fb1; 
    --pc-teriary-text-color: #ad1457; 
    --pc-link-color: #d81b60; 
    --pc-dark-bg-color: #880e4f; 
    --pc-dark-fg-color: #ad1457; 
    --pc-dark-primary-text-color: #ffffff; 
    --pc-dark-secondary-text-color: #f48fb1; 
    --pc-dark-teriary-text-color: #f8bbd0; 
    --pc-dark-link-color: #ff80ab; 
}
[data-secret="toggled"][data-theme="dark"]{
    --pc-bg-color: var(--pc-dark-bg-color);
    --pc-fg-color: var(--pc-dark-fg-color);
    --pc-primary-text-color: var(--pc-dark-primary-text-color);
    --pc-secondary-text-color: var(--pc-dark-secondary-text-color);
    --pc-teriary-text-color: var(--pc-dark-teriary-text-color);
    --pc-link-color: var(--pc-dark-link-color);
}
.page-container{
    background-color: var(--pc-bg-color);
    width: 100vw;
    transition: background-color 250ms ease-in-out;
    height: 100%;
    min-height: 100vh;
}
#Page-header-container {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
#Page-header{
    color: var(--pc-primary-text-color);
    text-align: center;
    font-size: var(--prg-font-size-subheader);
    margin-top: 0;
    font-family: var(--font-main);
}
#Explanation{
    color: var(--pc-primary-text-color);
    font-size: var(--prg-font-size-content);
}
.clrdatabutton{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.6s ease-in-out;
    position: absolute;
    left: 7vw;
    top: 45vh;
}
.clrdatabutton:hover{
    scale: 1.1;
    background-color: #610d07;
}
.clrdatabutton.show {
    background-color: blue;
}
#submit{
    background-color: aquamarine;
    position: absolute;
    left: 7vw;
    top: 37vh;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    transition: all 0.6s ease;
    cursor: pointer;
}
#submit:hover{
    scale: 1.1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(10px);
}