:root {
    --pc-bg-color: antiquewhite; 
    --pc-fg-color: #ff7043; 
    --pc-primary-text-color: #4e342e; 
    --pc-secondary-text-color: #f57c00; 
    --pc-teriary-text-color: #6d4c41; 
    --pc-link-color: #d84315; 
    --pc-dark-bg-color: #4e342e; 
    --pc-dark-fg-color: #6d4c41; 
    --pc-dark-primary-text-color: #ffffff; 
    --pc-dark-secondary-text-color: #ff5722; 
    --pc-dark-teriary-text-color: #d7ccc8; 
    --pc-dark-link-color: #ffab91; 
}

[data-theme="dark"] {
    --pc-bg-color: var(--pc-dark-bg-color);
    --pc-fg-color: var(--pc-dark-fg-color);
    --pc-primary-text-color: var(--pc-dark-primary-text-color);
    --pc-secondary-text-color: var(--pc-dark-secondary-text-color);
    --pc-teriary-text-color: var(--pc-dark-teriary-text-color);
    --pc-link-color: var(--pc-dark-link-color);
}
[data-secret="toggled"]{
    --pc-bg-color: #fce4ec; 
    --pc-fg-color: #f8bbd0; 
    --pc-primary-text-color: #880e4f; 
    --pc-secondary-text-color: #f48fb1; 
    --pc-teriary-text-color: #ad1457; 
    --pc-link-color: #d81b60; 
    --pc-dark-bg-color: #880e4f; 
    --pc-dark-fg-color: #ad1457; 
    --pc-dark-primary-text-color: #ffffff; 
    --pc-dark-secondary-text-color: #f48fb1; 
    --pc-dark-teriary-text-color: #f8bbd0; 
    --pc-dark-link-color: #ff80ab; 
}
[data-secret="toggled"][data-theme="dark"]{
    --pc-bg-color: var(--pc-dark-bg-color);
    --pc-fg-color: var(--pc-dark-fg-color);
    --pc-primary-text-color: var(--pc-dark-primary-text-color);
    --pc-secondary-text-color: var(--pc-dark-secondary-text-color);
    --pc-teriary-text-color: var(--pc-dark-teriary-text-color);
    --pc-link-color: var(--pc-dark-link-color);
}
[data-secrettheme='true'] {
    --pc-bg-color: #e8f5e9; 
    --pc-fg-color: #c8e6c9; 
    --pc-primary-text-color: #388e3c;  
    --pc-secondary-text-color: #66bb6a; 
    --pc-teriary-text-color: #2e7d32; 
    --pc-link-color: #1b5e20; 
  }
  [data-secrettheme='true'][data-theme='dark'] {
    --pc-bg-color: #1b5e20; 
    --pc-fg-color: #2e7d32; 
    --pc-primary-text-color: #ffffff; 
    --pc-secondary-text-color: #66bb6a; 
    --pc-teriary-text-color: #c8e6c9; 
    --pc-link-color: #a5d6a7; 
  }
.page-container{
    background-color: var(--pc-bg-color);
    width: 100vw;
    transition: background-color 250ms ease-in-out;
    height: 100%;
    min-height: 100vh;
}
@media (max-width: 600px){
    .page-container{overflow-x: hidden;}
}
#Page-header-container {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}
#Page-header{
    color: var(--pc-primary-text-color);
    text-align: center;
    font-size: var(--font-size-title);
    margin-top: 0;
    font-family: var(--font-main);
}
@media (max-width: 600px){
    #Page-header{font-size: 2rem; overflow-wrap:break-word;white-space: normal;word-wrap: break-word;margin-top: 7vh;}
}
#Explanation{
    color: var(--pc-primary-text-color);
    font-size: var(--font-size-content);
}
@media (max-width: 600px){
    #Explanation{font-size: 1.5rem}
}
.clrdatabutton{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.6s ease-in-out;
    position: fixed;
    left: 50%;
    bottom: 2%;
}
@media (max-width: 600px){
    .clrdatabutton{font-size: 1rem; position: fixed; bottom: 10%; left: 30%;}
}
.clrdatabutton:hover{
    scale: 1.1;
    background-color: #610d07;
}
.clrdatabutton.show {
    background-color: blue;
}
#submit{
    background-color: aquamarine;
    position: fixed;
    left: 40%;
    bottom: 2%;
    border: none;
    border-radius: 5px;
    font-size: 1.667rem;
    transition: all 0.6s ease;
    cursor: pointer;
}
#submit:hover{
    scale: 1.1;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(10px);
}
.toggle-theme-button{
    background-color: var(--pc-fg-color);
    color: var(--pc-teriary-text-color);
    position: fixed;
    left: 30%;
    bottom: 2%;
    border: none;
    border-radius: 5px;
    font-size: 1.667rem;
    transition: all 0.6s ease;
    cursor: pointer;
}
.toggle-theme-button:hover{
    scale: 1.1;
}
@media (max-width: 600px) {
    .clrdatabutton {
        font-size: 1rem;
        position: relative; 
        bottom: 10px; 
        left: 30%; 
        width: 150px; 
        height: 50px; 
        padding: 10px 20px; 
    }

    #submit {
        font-size: 1.5rem;
        position: relative; 
        bottom: 0; 
        left: 30%; 
        width: 200px; 
        height: 50px; 
        padding: 10px 20px;
        margin-top: 3vh; 
    }

    .toggle-theme-button {
        position: relative;
        bottom: 0;
        left: 1%;
        font-size: 1.5rem; 
        width: 150px; 
        height: 50px; 
        padding: 10px 20px; 
    }
}