.chart-container {
    width: 75%; 
    max-width: 600px; 
    height: 500px; 
    margin: auto; 
    display: flex;
    justify-content: center;
    gap: 50px;
}
canvas {
    border: 3px solid var(--prg-link-color);
    border-radius: 5px; 
  }