.hidden{
    height: auto;
    width: auto;
    text-decoration: none;
    font-weight: bold;
    border: none;
    background: none;
    font-size: var(--prg-font-size-subheader);
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: var(--pc-primary-text-color);
    box-shadow: none;
    font-family: var(--font-main);
}
@media (max-width: 600px){
    .hidden{font-size: 2rem}
}
#Page-header-container {
    display: flex;
    justify-content: center;
}