.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}
@media (max-width: 600px){
    .container{
        flex-direction: column-reverse;
    }
}
.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.image {
    width: 800px;
    height: auto;
    border-radius: 10px;
    margin: 0 10px;
}
.button .icon{
    font-size: 2.5rem;
    color: var(--tertiary-text-color);
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
