.mobile-navbar-toggle{
    display: none;
}
.mobile-navbar-container {
    position: fixed;
    background-color: var(--foreground-color);
    z-index: 1000;
    display: none;
}
@media (max-width: 600px){
    .mobile-navbar-container{
        display: none;
    }
}

.mobile-navbar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0; 
}
.mobile-navbar-toggle{
    display: none;
}
.mobile-navbar-item a{
    text-decoration: none !important;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s linear;
    display: flex;
    color: var(--foreground-text-color);
    font-family: var(--font-main);
    visibility: hidden;
    flex-direction: column; 
    align-items: center; 
}
.mobile-navbar-item{
    display: flex;
    width: 100%;
    flex-direction: column; 
    align-items: center; 
    transition: background-color 0.3s, transform 0.2s;
}
.mobile-navbar-item:hover{
    background-color: var(--foreground-color);
    transform: scale(1.05); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.mobile-navbar-item .icon {
    margin-bottom: 0.5rem; 
    color: var(--icon-color);
    opacity: 1;
    visibility: visible;
    font-size: 2.5rem;
    transition: color 0.6s;
}
.mobile-navbar-container:hover .mobile-navbar-item a{
    opacity: 1;
    display: inline;
    visibility: visible;
}
.mobile-navbar-item .icon {
    visibility: visible; 
}


@media (max-width: 600px) {
    .mobile-navbar-container {
      display: none;
      flex-direction: column;
      height: 100vh;
      width: 100vw; 
      padding: 1rem;
      overflow: visible;
      transition: transform 0.3s ease-in-out;
      transform: translateY(-100%); 
      z-index: 1000;
    }
    .mobile-navbar-list {
      flex-direction: column;
      width: 100%;
      text-align: center;
      overflow-y: visible;
      max-height: 100%;
      justify-content: center;
        gap: 2rem;
    }
    .mobile-navbar-list li {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out;
    }
      
      .mobile-navbar-list.open li {
        opacity: 1;
        visibility: visible;
      }
    .mobile-navbar-toggle {
        display: block;
        cursor: pointer;
        font-size: 2.5rem;
        z-index: 1;
        border-radius: 5px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2000;
        color: var(--primary-text-color);
      }
      .mobile-navbar-container.open .mobile-navbar-item a {
        opacity: 1;
        visibility: visible;
    }
    .mobile-navbar-item .icon {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    }
    .mobile-navbar-container.open{
        transform: translateY(0) !important;
        visibility: visible;
        display: flex;
    }
  }