.navbar-container {
    position: fixed;
    background-color: black;
    width: 6rem;
    transition: width 0.6s; 
    z-index: 1000;
}
.navbar-container:hover {
    width: 10rem;
}

.navbar-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    padding: 0; 
}
@media (max-width: 600px) {
    .navbar-list {
        flex-direction: row;
        height: auto; 
        justify-content: center; 
    }
}
.navbar-item a{
    text-decoration: none !important;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s linear;
    display: flex;
    display: none;
    flex-direction: column; 
    align-items: center; 
}
.navbar-item{
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.navbar-item .icon {
    margin-bottom: 0.5rem; 
    color: purple;
    opacity: 1;
    visibility: visible;
    font-size: 3rem;
}

.navbar-container:hover .navbar-item a{
    opacity: 1;
    display: inline;
}
.navbar-item .icon {
    visibility: visible; 
}
.navbar-item .icon:last-child{
    margin-top: 20px;
    transition: all 0.6s;
}
