/* Default Theme */
:root {
    --background-color: #f5f5dc; 
    --foreground-color: #800000; 
    --foreground-text-color: #ffffff; 
    --primary-text-color: #000000; 
    --secondary-text-color: #ffffff; 
    --tertiary-text-color: #ff8c00; 
    --icon-color: #FFB3BA;
    --font-main: 'Open Sans', sans-serif; /* Main font for pages */
    --link-color: #dc143c; 
    --font-size-title: 2.5rem; /* Title font size */
    --font-size-content: 1.5rem; /* Content font size */
    --font-size-subheader: 1.75rem; /* Subheader font size */
    --font-size-subcontent: 1.25rem; /* Subcontent font size */
}
/* #003366 -blue #FF6F61 -darker peach #FFDAB9 -softer more pastel peach #55CDFC - cyan*/
/* Dark Theme */
[data-theme='dark'] {
    --background-color: #1a1a1a; 
    --foreground-color: #55CDFC; 
    --foreground-text-color: #ffffff; 
    --primary-text-color: #9b30ff; 
    --secondary-text-color: #ffffff; 
    --tertiary-text-color: #4169e1;
    --icon-color: #FF6F61;
    --link-color: #00ffff; 
}

/* Spooky Theme */
[data-event='Spooky'] {
    --background-color: #fff8e1;
    --foreground-color: #ff5722;
    --foreground-text-color: #000000;
    --primary-text-color: #3e2723; 
    --secondary-text-color: #ffffff; 
    --tertiary-text-color: #ffeb3b; 
    --icon-color: #4B0082;
    --font-main: 'Creepster', cursive; 
    --link-color: #6a1b9a; 
}

/* Scrollbar Styles for Spooky Theme */
html[data-event='Spooky'] ::-webkit-scrollbar {
    width: 12px;
}

html[data-event='Spooky'] ::-webkit-scrollbar-track {
    background: #333; 
}

html[data-event='Spooky'] ::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(255, 165, 0, 0.5); 
}

html[data-event='Spooky'] ::-webkit-scrollbar-thumb:hover {
    background: darkorange;
}

/* Dark Halloween Theme */
[data-theme='dark'][data-event='Spooky'] {
    --background-color: #121212;
    --foreground-color: #e65100;
    --foreground-text-color: #ffffff; 
    --primary-text-color: #ffeb3b; 
    --secondary-text-color: #000000; 
    --tertiary-text-color: #d50000;
    --icon-color: #4B0082; 
    --font-main: 'Creepster', cursive; 
    --link-color: #ba68c8; 
}
[data-event='Winter']{
    --font-main: "Mountains of Christmas", sans-serif;
    --background-color: white;
}
[data-theme='dark'][data-event='Winter']{
        --font-main: "Mountains of Christmas", sans-serif;
            --background-color: Black;
}
